################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.nupkg
/CSharpExtensionMehods/obj
/CSharpExtensionMehods/bin
/CSharpExtensionMehods/.vs/CSharpExtensionMehods/v16
/CSharpExtensionMehods/packages
/CSharpExtensionMethods.UnitTests/bin
/CSharpExtensionMethods.UnitTests/obj
/packages
*.suo
*.user
/.vs/CSharpExtensionMethods/v16/TestStore/0
/.vs
/CSharpExtensionMethods.Tests/bin/**
/CSharpExtensionMethods.Tests/obj/**
